---
import SoftwareFeature from "@/pages/_SoftwareFeature.astro";
import Showcase from "../_Showcase.astro";
---

<Showcase title="SoftwareFeature">
  <section class="py-3xl flex justify-center">
    <div class="container max-w-screen-md lg:flex lg:max-w-screen-xl">
      <SoftwareFeature class="lg:w-auto lg:flex-none" />
    </div>
  </section>
</Showcase>
