---
import { Image } from "astro:assets";
import itakoImage from "./icon-itako.png";
import kiritanImage from "./icon-kiritan.png";
import zunkoImage from "./icon-zunko.png";
---

<div class="flex max-w-2xs border-2 border-solid">
  <div>
    <Image src={kiritanImage} alt="東北きりたん" width={128} class="block" />
  </div>
  <div>
    <Image src={zunkoImage} alt="東北ずん子" width={128} class="block" />
  </div>
  <div>
    <Image src={itakoImage} alt="東北イタコ" width={128} class="block" />
  </div>
</div>
