---
import type { CharacterKey } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import { callNameInfos } from "@/constants/characterInfos/callNameInfo";
import type { CharacterInfo } from "@/constants/type";
import { getDormitoryCharacterPageUrl } from "@/constants/url";
import { withBaseUrl } from "@/helper";
import { Image } from "astro:assets";

interface Props {
  characterInfo: CharacterInfo;
  baseCharacterKey: CharacterKey;
  targetCharacterKey: CharacterKey;
}

const { characterInfo, baseCharacterKey, targetCharacterKey } = Astro.props;

const callTo: string | undefined =
  callNameInfos[baseCharacterKey][targetCharacterKey];
const callFrom: string | undefined =
  callNameInfos[targetCharacterKey][baseCharacterKey];

const targetCharacterInfo = characterInfos[targetCharacterKey];
---

<div class="gap-xs flex">
  <div class="flex flex-1">
    <div class="flex flex-1 items-center justify-center p-0">
      <span
        class={`flex-1 border-3 rounded-lg py-2xs text-[0.8rem] text-center ${callTo ? "" : "text-neutral-500"}`}
        style={{ borderColor: characterInfo.color }}
      >
        {callTo || "？"}
      </span>
      <span class="-my-md text-2xl" style={{ color: characterInfo.color }}>
        →
      </span>
    </div>
    <div class="flex flex-1 items-center justify-center p-0">
      <span
        class="-my-md text-2xl"
        style={{ color: targetCharacterInfo.color }}
      >
        ←
      </span>
      <span
        class={`flex-1 border-3 rounded-lg py-2xs text-[0.8rem] text-center ${callFrom ? "" : "text-neutral-500"}`}
        style={{ borderColor: targetCharacterInfo.color }}
      >
        {callFrom || "？"}
      </span>
    </div>
  </div>
  <a
    href={withBaseUrl(
      getDormitoryCharacterPageUrl(targetCharacterInfo, "calls"),
    )}
  >
    <Image
      src={targetCharacterInfo.bustupImage}
      alt={targetCharacterInfo.name}
      width={56}
      densities={[1, 1.5, 2]}
      class="block h-full rounded-lg border-3"
      style={{ borderColor: targetCharacterInfo.color }}
    />
  </a>
</div>
