---
import KeepScrollAnchor from "@/components/KeepScrollAnchor.astro";
import type { CharacterInfo } from "@/constants/type";
import { getDormitoryCharacterPageUrl } from "@/constants/url";
import type { descriptionTypes } from "./_constants";

interface Props {
  characterInfo: CharacterInfo;
  selectedType: (typeof descriptionTypes)[number];
  targetType: (typeof descriptionTypes)[number];
  targetName: string;
}

const { characterInfo, selectedType, targetType, targetName } = Astro.props;
const selected = selectedType == targetType;
---

<KeepScrollAnchor
  class={`button is-rounded description-type-button ${
    selected && "description-type-button-selected"
  }`}
  style={{
    color: characterInfo.color,
    borderColor: characterInfo.color,
    backgroundColor: selected ? characterInfo.lightColor : undefined,
  }}
  href={`${getDormitoryCharacterPageUrl(characterInfo, targetType)}`}
  role="button"
>
  <span>{targetName}</span>
</KeepScrollAnchor>
