---
import type { CharacterInfo } from "@constants/type";
import type { descriptionTypes } from "./_constants";
import { getDormitoryCharacterPageUrl } from "@constants/url";
import KeepScrollAnchor from "@components/KeepScrollAnchor.astro";

interface Props {
  characterInfo: CharacterInfo;
  selectedType: (typeof descriptionTypes)[number];
  targetType: (typeof descriptionTypes)[number];
}

const { characterInfo, selectedType, targetType } = Astro.props;
const selected = selectedType == targetType;
---

<KeepScrollAnchor
  class={`button is-rounded description-type-button ${
    selected && "description-type-button-selected"
  }`}
  style={{
    color: characterInfo.color,
    borderColor: characterInfo.color,
    backgroundColor: selected ? characterInfo.lightColor : undefined,
  }}
  href={`${getDormitoryCharacterPageUrl(characterInfo, targetType)}`}
  role="button"
>
  <span>{targetType == "profile" ? "プロフィール" : "呼び方"}</span>
</KeepScrollAnchor>
