---
import KeepScrollAnchor from "@/components/KeepScrollAnchor.astro";
import type { CharacterInfo } from "@/constants/type";
import { getDormitoryCharacterPageUrl } from "@/constants/url";
import { withBaseUrl } from "@/helper";
import type { descriptionTypes } from "./_constants";

interface Props {
  characterInfo: CharacterInfo;
  selectedType: (typeof descriptionTypes)[number];
  targetType: (typeof descriptionTypes)[number];
  targetName: string;
}

const { characterInfo, selectedType, targetType, targetName } = Astro.props;
const selected = selectedType == targetType;
const isFirst = targetType === "profile";
---

<KeepScrollAnchor
  class={`description-type-button vv-status-layer inline-flex h-10 items-center justify-center border-[1.8px] px-[19px] py-[7px] text-base whitespace-nowrap select-none shadow-none ${
    isFirst ? "rounded-l-full" : "rounded-r-full -ml-[1.8px]"
  } ${selected ? "font-bold relative z-10" : "bg-white font-medium"}`}
  style={{
    color: characterInfo.color,
    borderColor: characterInfo.color,
    backgroundColor: selected ? characterInfo.lightColor : undefined,
  }}
  href={withBaseUrl(getDormitoryCharacterPageUrl(characterInfo, targetType))}
>
  <span>{targetName}</span>
</KeepScrollAnchor>
