@use "./vars.scss" as *;

@use "./fonts.scss";

$font-smoothing: subpixel-antialiased;
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  $font-smoothing: antialiased;
}

// ページの高さを最低でも画面の高さに合わせる
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  position: relative;
  overflow: hidden;

  .navbar {
    // navbarを最上部に固定するためのクラス
    &.height-holder {
      visibility: hidden;
    }

    &.is-black {
      // FIXME: is-blackで影が変わらないBulmaのバグ
      box-shadow: 0 2px 0 0 hsl(0deg, 0%, 4%);
    }
  }

  .footer {
    // footerを最下部に固定するためのクラス
    &.appearance {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    &.height-holder {
      visibility: hidden;
    }
  }
}
