---
import Footer from "@/components/Footer.astro";
import Showcase from "../_Showcase.astro";
---

<Showcase title="Footer">
  <Footer />
  <div data-theme="dark" class="bg-black">
    <Footer />
  </div>
</Showcase>
