---
import DownloadModal from "@/components/modal/download/DownloadModal";
import "@/styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <DownloadModal client:load />
  </body>
</html>

<script>
  import { $downloadModal } from "@/store";

  $downloadModal.set(true);
</script>
