---
import DownloadNemoModal from "@/components/modal/download/DownloadNemoModal";
import "@/styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <DownloadNemoModal client:load />
  </body>
</html>

<script>
  import { $nemoDownloadModal } from "@/store";

  $nemoDownloadModal.set(true);
</script>
