---
import { compiledContent as libraryTermIntroTemplateHtml } from "@/assets/library-term-intro-template.md";
import LibraryTermIntroModal from "@/components/modal/LibraryTermIntroModal";
import {
  characterEntries,
  characterKeys,
  type CharacterKey,
} from "@/constants/characterEntry";
import { makeAssetsRecordSingleOptional } from "@/helper";
import "@/styles/global.css";
import type { MarkdownInstance } from "astro";

export const libraryTermIntroMarkdowns = makeAssetsRecordSingleOptional(
  characterKeys,
  characterEntries,
  import.meta.glob<MarkdownInstance<object>>(
    "@/assets/library-term-intro-markdowns/*.md",
    {
      eager: true,
    },
  ),
);

const libraryTermIntroHtmls = await (async () => {
  const htmls = {} as Record<CharacterKey, string | undefined>;
  for (const key of characterKeys) {
    htmls[key] = await libraryTermIntroMarkdowns[key]?.compiledContent();
  }
  return htmls;
})();
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <LibraryTermIntroModal
      client:load
      htmls={libraryTermIntroHtmls}
      templateHtml={await libraryTermIntroTemplateHtml()}
    />
  </body>
</html>

<script>
  import { characterKeys } from "@/constants/characterEntry";
  import { $libraryTermIntroModal } from "@/store";

  $libraryTermIntroModal.set({ show: true, characterKey: characterKeys[0] });
</script>
