---
import NemoGuidanceModal from "@/components/modal/NemoGuidanceModal";
import "@/styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <NemoGuidanceModal client:load />
  </body>
</html>

<script>
  import { $nemoGuidanceModal } from "@/store";

  $nemoGuidanceModal.set(true);
</script>
