---
import { compiledContent as nemoReadmeHtml } from "@/assets/nemo-term.md";
import { NemoTermModel } from "@/components/modal/MarkdownModals";
import "@/styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <NemoTermModel client:load html={await nemoReadmeHtml()} />
  </body>
</html>

<script>
  import { $nemoTermModal } from "@/store";

  $nemoTermModal.set(true);
</script>
