---
import { compiledContent as privacyPolicyHtml } from "@/assets/privacy-policy.md";
import { PrivacyPolicyModal } from "@/components/modal/MarkdownModals";
import "@/styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <PrivacyPolicyModal client:load html={await privacyPolicyHtml()} />
  </body>
</html>

<script>
  import { $privacyPolicyModal } from "@/store";

  $privacyPolicyModal.set(true);
</script>
