---
import SoftwareFeature from "@/pages/_SoftwareFeature.astro";
import "@/styles/global.css";
import "@fortawesome/fontawesome-svg-core/styles.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <title>SoftwareFeature 確認用ページ</title>
  </head>
  <body>
    <div class="p-2xl">
      <h1 class="mb-xl text-2xl font-bold">SoftwareFeature 確認用ページ</h1>

      <section class="mb-2xl">
        <h2 class="mb-md text-xl font-semibold">デフォルト</h2>
        <section class="py-3xl flex justify-center">
          <div class="container max-w-screen-md lg:flex lg:max-w-screen-xl">
            <SoftwareFeature class="lg:w-auto lg:flex-none" />
          </div>
        </section>
      </section>
    </div>
  </body>
</html>
