---
import Markdown from "@/components/Markdown.astro";
import Base from "@/layouts/Base.astro";
import type { Props } from "@/layouts/OneSectionMarkdown.astro";

const props = Astro.props satisfies Props;
const { frontmatter } = props;

const headerTitle = frontmatter.headerTitle;
if (!headerTitle) {
  throw new Error("headerTitleが指定されていません");
}
---

<Base {...frontmatter}>
  <main class="py-3xl">
    <div class="qa-markdown px-md mx-auto max-w-5xl">
      <h1 class="mb-xl text-3xl leading-9 font-extrabold text-neutral-700">
        {headerTitle}
      </h1>
      <Markdown><slot /></Markdown>
    </div>
  </main>
</Base>

<style>
  .qa-markdown :global(.markdown h2) {
    padding: var(--spacing-md);
    background-color: var(--color-primary);
  }

  .qa-markdown :global(.markdown h3) {
    color: var(--color-neutral-950);
    padding: var(--spacing-xs);
    background-color: var(--color-green-100);
  }
</style>
