---
import Markdown from "@/components/Markdown.astro";
import Base from "@/layouts/Base.astro";
import type { Props as OneSectionMarkdownProps } from "@/layouts/OneSectionMarkdown.astro";
import QaSearch from "./_QaSearch";
import { buildQaSearchItems } from "./_qa";
import type { MarkdownHeading } from "./_qa";

interface Props extends OneSectionMarkdownProps {
  headings: MarkdownHeading[];
  rawContent: () => string;
}

const props = Astro.props;
const { frontmatter } = props;

const headerTitle = frontmatter.headerTitle;
if (headerTitle != undefined) {
  throw new Error("headerTitleは使えません");
}

const qaSearchItems = buildQaSearchItems(props.rawContent(), props.headings);
---

<Base {...frontmatter}>
  <main class="py-3xl">
    <div class="qa-markdown px-md mx-auto max-w-5xl">
      <QaSearch client:load items={qaSearchItems} />
      <Markdown><slot /></Markdown>
    </div>
  </main>
</Base>

<style>
  .qa-markdown :global(.markdown h2) {
    padding: var(--spacing-md);
    background-color: var(--color-primary);
  }

  .qa-markdown :global(.markdown h3) {
    color: var(--color-neutral-950);
    padding: var(--spacing-xs);
    background-color: var(--color-green-100);
  }
</style>
