---
import Markdown from "@/components/Markdown.astro";
import Base from "@/layouts/Base.astro";
import type { Props } from "@/layouts/OneSectionMarkdown.astro";

const props = Astro.props satisfies Props;
const { frontmatter } = props;
---

<Base {...frontmatter}>
  <main class="py-12">
    <div class="qa-content mx-auto max-w-5xl px-4">
      {
        frontmatter.headerTitle && (
          <h1 class="mb-6 text-3xl leading-9 font-extrabold text-neutral-700">
            {frontmatter.headerTitle}
          </h1>
        )
      }
      <Markdown><slot /></Markdown>
    </div>
  </main>
</Base>

<style is:global>
  /* NOTE: 本当は Tailwind の theme() を使ってトークン参照したい */
  .qa-content .markdown h2 {
    padding: 16px;
    background-color: var(--color-primary);
    color: #3f213a;
  }

  .qa-content .markdown h3 {
    color: oklch(13% 0.028 261.692);
    padding: 8px;
    background-color: oklch(96.2% 0.044 156.743);
  }
</style>
