---
import Base from "@/layouts/Base.astro";
import LinkListSection from "./_LinkListSection.astro";
---

<Base
  title="ページが見つかりません | VOICEVOX"
  description="お探しのページが見つかりませんでした。"
  noindex={true}
>
  <section class="py-3xl">
    <div class="mx-auto max-w-5xl px-md">
      <h1 class="mb-xl text-3xl font-bold">ページが見つかりません</h1>
      <p>お探しのページが見つかりませんでした。</p>
    </div>
  </section>

  <LinkListSection />
</Base>
