---
import Base from "@/layouts/Base.astro";
import LinkListSection from "./_LinkListSection.astro";
---

<Base
  title="ページが見つかりません | VOICEVOX"
  description="お探しのページが見つかりませんでした。"
  noindex={true}
>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title">ページが見つかりません</h1>
      <p>お探しのページが見つかりませんでした。</p>
    </div>
  </section>

  <LinkListSection />
</Base>
