---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class="py-3xl">
  <div class:list={[className, "px-md mx-auto flex max-w-5xl flex-col"]}>
    <h2
      id="core_library"
      class="vv-anchor-offset-4 mb-xl text-3xl font-bold text-neutral-950"
    >
      <a href="#core_library" class="text-neutral-950 dark:text-white">
        コアライブラリ
      </a>
    </h2>
    <p class="text-xl">
      VOICEVOX の音声合成をアプリケーションやサービスに組み込める、VOICEVOX
      のコアライブラリを配布しています。
    </p>
    <p class="text-xl">
      詳しくは&nbsp;<a
        href="https://github.com/VOICEVOX/voicevox_core"
        class="vv-link"
        target="_blank"
        rel="noreferrer">VOICEVOX CORE</a
      >&nbsp;をご参照ください。
    </p>
  </div>
</section>
