---
interface Props {
  class?: string;
  isDark?: boolean; // Nemoやソングのページかどうか
}

const { class: className, isDark } = Astro.props;
---

<section class="py-12">
  <div class={`${className} max-w-5xl mx-auto px-4 flex flex-col`}>
    <h2
      id="engine"
      class="-mt-[calc(3.25rem+1rem)] mb-6 pt-[calc(3.25rem+1rem)] text-3xl font-bold"
    >
      <a
        href="#engine"
        class={isDark
          ? "text-white dark:text-white"
          : "text-neutral-950 dark:text-neutral-950"}
      >
        音声合成エンジン
      </a>
    </h2>
    <p class="text-xl">
      音声合成エンジンを使えば、他のソフトウェアやアプリケーションから VOICEVOX
      音声を生成できます。
    </p>
    <p class="text-xl">
      Windows / macOS / Linux で動作する実行ファイルのほか、Docker
      イメージとしても配布しています。
    </p>
    <p class="text-xl">
      詳しくは&nbsp;<a
        href="https://github.com/VOICEVOX/voicevox_engine"
        class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
        target="_blank"
        rel="noreferrer">VOICEVOX ENGINE</a
      >&nbsp;をご参照ください。
    </p>
  </div>
</section>
