---
import { isDevelopment, withBaseUrl } from "@/helper";

/**
 * リンク一覧セクション
 */
---

<section class="py-12">
  <div class="max-w-4xl mx-auto px-4 flex flex-col">
    <h2
      id="link"
      class="pt-[calc(3.25rem+1rem)] -mt-[calc(3.25rem+1rem)] text-3xl font-bold mb-6"
    >
      <a href={withBaseUrl("#link")} class="text-black dark:text-black"
        >リンク</a
      >
    </h2>
    <ul class="text-xl">
      <li>
        <a
          href={withBaseUrl("/dormitory/")}
          class="font-bold underline text-[rgb(48,100,57)] hover:text-[rgb(38,80,47)] dark:text-[rgb(165,212,173)] dark:hover:text-[rgb(185,232,193)]"
          >ボイボ寮</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/how_to_use/")}
          class="font-bold underline text-[rgb(48,100,57)] hover:text-[rgb(38,80,47)] dark:text-[rgb(165,212,173)] dark:hover:text-[rgb(185,232,193)]"
          >使い方</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/term/")}
          class="font-bold underline text-[rgb(48,100,57)] hover:text-[rgb(38,80,47)] dark:text-[rgb(165,212,173)] dark:hover:text-[rgb(185,232,193)]"
          >利用規約</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/qa/")}
          class="font-bold underline text-[rgb(48,100,57)] hover:text-[rgb(38,80,47)] dark:text-[rgb(165,212,173)] dark:hover:text-[rgb(185,232,193)]"
          >Q&amp;A</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/update_history/")}
          class="font-bold underline text-[rgb(48,100,57)] hover:text-[rgb(38,80,47)] dark:text-[rgb(165,212,173)] dark:hover:text-[rgb(185,232,193)]"
          >変更履歴</a
        >
      </li>
      {
        isDevelopment && (
          <li>
            <a
              href={withBaseUrl("/news/")}
              class="font-bold underline text-[rgb(48,100,57)] hover:text-[rgb(38,80,47)] dark:text-[rgb(165,212,173)] dark:hover:text-[rgb(185,232,193)]"
            >
              ニュース
            </a>
          </li>
        )
      }
      <li>
        <a
          href="https://hiho.fanbox.cc/"
          target={"_blank"}
          rel={"noreferrer"}
          class="font-bold underline text-[rgb(48,100,57)] hover:text-[rgb(38,80,47)] dark:text-[rgb(165,212,173)] dark:hover:text-[rgb(185,232,193)]"
          >pixivFANBOX</a
        >
      </li>
    </ul>
  </div>
</section>
