---
import { isDevelopment, withBaseUrl } from "@/helper";

/**
 * リンク一覧セクション
 */
---

<section class="py-3xl">
  <div class="px-md mx-auto flex max-w-5xl flex-col">
    <h2 id="link" class="vv-anchor-offset-4 mb-xl text-3xl font-bold">
      <a
        href={withBaseUrl("#link")}
        class="text-neutral-950 dark:text-neutral-950">リンク</a
      >
    </h2>
    <ul class="text-xl">
      <li>
        <a
          href={withBaseUrl("/dormitory/")}
          class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
          >ボイボ寮</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/how_to_use/")}
          class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
          >使い方</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/term/")}
          class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
          >利用規約</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/qa/")}
          class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
          >Q&amp;A</a
        >
      </li>
      <li>
        <a
          href={withBaseUrl("/update_history/")}
          class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
          >変更履歴</a
        >
      </li>
      {
        isDevelopment && (
          <li>
            <a
              href={withBaseUrl("/news/")}
              class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
            >
              ニュース
            </a>
          </li>
        )
      }
      <li>
        <a
          href="https://hiho.fanbox.cc/"
          target={"_blank"}
          rel={"noreferrer"}
          class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
          >pixivFANBOX</a
        >
      </li>
    </ul>
  </div>
</section>
