---
/**
 * リンク一覧セクション
 */
---

<section class="section">
  <div class="container is-max-desktop is-flex is-flex-direction-column">
    <h2 id="link" class="jump-anchor-header-padding title">
      <a href={`#link`} class="has-text-black">リンク</a>
    </h2>
    <ul class="is-size-5">
      <li>
        <a href={"/dormitory/"} class="has-text-weight-bold is-underlined"
          >ボイボ寮</a
        >
      </li>
      <li>
        <a href={"/how_to_use/"} class="has-text-weight-bold is-underlined"
          >使い方</a
        >
      </li>
      <li>
        <a href={"/term/"} class="has-text-weight-bold is-underlined"
          >利用規約</a
        >
      </li>
      <li>
        <a href={"/qa/"} class="has-text-weight-bold is-underlined">Q&amp;A</a>
      </li>
      <li>
        <a href={"/update_history/"} class="has-text-weight-bold is-underlined"
          >変更履歴</a
        >
      </li>
      {
        /* TODO: リリース時にコメントアウトを外す
        <li>
          <a
            href={"/news/"}
            class="has-text-weight-bold is-underlined"
          >
            ニュース
          </a>
        </li>
        */
      }
      <li>
        <a
          href="https://hiho.fanbox.cc/"
          target={"_blank"}
          rel={"noreferrer"}
          class="has-text-weight-bold is-underlined">pixivFANBOX</a
        >
      </li>
    </ul>
  </div>
</section>
