---
interface Props {
  class?: string;
  isDark?: boolean; // Nemoやソングのページかどうか
}

import FontAwesomeIcon from "@/components/FontAwesomeIcon.astro";
import { faGithub } from "@fortawesome/free-brands-svg-icons";

const { class: className, isDark } = Astro.props;
---

<section class="py-12">
  <div class={`${className} max-w-5xl mx-auto px-4 flex flex-col`}>
    <h2
      id="oss"
      class="-mt-[calc(3.25rem+1rem)] mb-6 pt-[calc(3.25rem+1rem)] text-3xl font-bold"
    >
      <a
        href="#oss"
        class={isDark
          ? "text-white dark:text-white"
          : "text-neutral-950 dark:text-neutral-950"}
      >
        開発に参加するには
      </a>
    </h2>
    <p class="text-xl">
      VOICEVOX は OSS（オープンソース・ソフトウェア）版 VOICEVOX
      をもとに構築されています。
    </p>
    <p class="text-xl">
      追加したい・改善したい機能があれば、ぜひ開発にご参加ください。
    </p>
    <p class="text-xl">
      製品版と OSS 版の違いやモジュール構成は&nbsp;<a
        href="https://github.com/VOICEVOX/voicevox/blob/main/docs/%E5%85%A8%E4%BD%93%E6%A7%8B%E6%88%90.md"
        target="_blank"
        rel="noreferrer"
        class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
        >VOICEVOX の全体構成</a
      >&nbsp;をご参照ください。
    </p>
    <p class="text-xl">
      エディター部分は Electron + Vue 、エンジン部分は Python 、コア部分は Rust
      です。
    </p>
    <div class="mt-3 flex flex-wrap gap-2">
      <a
        class="inline-flex items-center gap-2 rounded border border-neutral-400 bg-white px-4 py-2 text-sm text-black hover:bg-neutral-50 dark:border-neutral-600 dark:bg-neutral-800 dark:text-white dark:hover:bg-neutral-700"
        href="https://github.com/VOICEVOX/voicevox"
        target="_blank"
        rel="noreferrer"
      >
        <span class="inline-flex items-center">
          <FontAwesomeIcon icon={faGithub} />
        </span>
        <span>VOICEVOX エディター</span>
      </a>
      <a
        class="inline-flex items-center gap-2 rounded border border-neutral-400 bg-white px-4 py-2 text-sm text-black hover:bg-neutral-50 dark:border-neutral-600 dark:bg-neutral-800 dark:text-white dark:hover:bg-neutral-700"
        href="https://github.com/VOICEVOX/voicevox_engine"
        target="_blank"
        rel="noreferrer"
      >
        <span class="inline-flex items-center">
          <FontAwesomeIcon icon={faGithub} />
        </span>
        <span>VOICEVOX エンジン</span>
      </a>
      <a
        class="inline-flex items-center gap-2 rounded border border-neutral-400 bg-white px-4 py-2 text-sm text-black hover:bg-neutral-50 dark:border-neutral-600 dark:bg-neutral-800 dark:text-white dark:hover:bg-neutral-700"
        href="https://github.com/VOICEVOX/voicevox_core"
        target="_blank"
        rel="noreferrer"
      >
        <span class="inline-flex items-center">
          <FontAwesomeIcon icon={faGithub} />
        </span>
        <span>VOICEVOX コア</span>
      </a>
    </div>
  </div>
</section>
