---
interface Props {
  class?: string;
}

import Button from "@/components/ui/Button/index.astro";
import { faGithub } from "@fortawesome/free-brands-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

const { class: className } = Astro.props;
---

<section class="py-3xl">
  <div class={`${className} max-w-5xl mx-auto px-md flex flex-col`}>
    <h2 id="oss" class="vv-anchor-offset-4 mb-xl text-3xl font-bold">
      <a href="#oss" class="text-neutral-950 dark:text-white">
        開発に参加するには
      </a>
    </h2>
    <p class="text-xl">
      VOICEVOX は OSS（オープンソース・ソフトウェア）版 VOICEVOX
      をもとに構築されています。
    </p>
    <p class="text-xl">
      追加したい・改善したい機能があれば、ぜひ開発にご参加ください。
    </p>
    <p class="text-xl">
      製品版と OSS 版の違いやモジュール構成は&nbsp;<a
        href="https://github.com/VOICEVOX/voicevox/blob/main/docs/%E5%85%A8%E4%BD%93%E6%A7%8B%E6%88%90.md"
        target="_blank"
        rel="noreferrer"
        class="text-link hover:text-link-hover dark:text-link-dark dark:hover:text-link-dark-hover font-bold underline"
        >VOICEVOX の全体構成</a
      >&nbsp;をご参照ください。
    </p>
    <p class="text-xl">
      エディター部分は Electron + Vue 、エンジン部分は Python 、コア部分は Rust
      です。
    </p>
    <div class="mt-sm gap-xs flex flex-wrap">
      <Button
        href="https://github.com/VOICEVOX/voicevox"
        target="_blank"
        rel="noreferrer"
        kind="outline"
        tone="neutral"
        shape="rounded"
        size="md"
      >
        <span slot="icon">
          <FontAwesomeIcon icon={faGithub} />
        </span>
        VOICEVOX エディター
      </Button>
      <Button
        href="https://github.com/VOICEVOX/voicevox_engine"
        target="_blank"
        rel="noreferrer"
        kind="outline"
        tone="neutral"
        shape="rounded"
        size="md"
      >
        <span slot="icon">
          <FontAwesomeIcon icon={faGithub} />
        </span>
        VOICEVOX エンジン
      </Button>
      <Button
        href="https://github.com/VOICEVOX/voicevox_core"
        target="_blank"
        rel="noreferrer"
        kind="outline"
        tone="neutral"
        shape="rounded"
        size="md"
      >
        <span slot="icon">
          <FontAwesomeIcon icon={faGithub} />
        </span>
        VOICEVOX コア
      </Button>
    </div>
  </div>
</section>
