---
interface Props {
  class?: string;
  style?: Record<string, string | number>;
}

import { faDownload } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { APP_VERSION } from "@/constants";

const { class: className, style } = Astro.props;
---

<div class={`${className} is-flex is-flex-direction-column`} style={style}>
  <h2 id="feature" class="title">特徴</h2>
  <div class="content">
    <ul class="mt-0">
      <li>
        商用・非商用問わず無料{" "}
        <span style={{ fontSize: "0.7em" }}>(※1)</span>
      </li>
      <li>
        すぐに使えるソフトウェア{" "}
        <span style={{ fontSize: "0.7em" }}>(※2)</span>
      </li>
      <li>イントネーションの詳細な調整が可能</li>
      <li>喋り声で歌えるハミング機能搭載</li>
    </ul>
  </div>
  <p class="is-size-7">※1 詳しくは各キャラクターの利用規約をご参照ください</p>
  <p class="is-size-7">※2 Windows / Mac / Linux に対応</p>
  <a
    class="button is-align-self-center mt-5 is-primary is-rounded is-large"
    target="_blank"
    rel="noreferrer"
    tab-index={0}
  >
    {
      /*
      TODO:
      onClick={() => {
        context.downloadModal.show();
        context.sendEvent("download", "software");
      }}
      */
    }
    <span class="icon">
      <FontAwesomeIcon icon={faDownload} />
    </span>
    <span class="has-text-weight-semibold">ダウンロード</span>
  </a>
  <p class="is-align-self-center is-size-6">Version {APP_VERSION}</p>
</div>
