---
interface Props {
  class?: string;
  style?: Record<string, string | number>;
}

import Button from "@/components/ui/Button/index.astro";
import { APP_VERSION } from "@/constants";
import { showDownloadModalAttr } from "@/store";
import "@/styles/global.css";
import { faDownload } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

const { class: className, style } = Astro.props;
---

<div class={`${className} flex flex-col`} style={style}>
  <h2 id="feature" class="mb-md text-4xl font-bold">特徴</h2>
  <div>
    <ul class="list-inside list-disc space-y-2">
      <li>
        商用・非商用問わず無料{" "}
        <span class="text-xs">(※1)</span>
      </li>
      <li>
        すぐに使えるソフトウェア{" "}
        <span class="text-xs">(※2)</span>
      </li>
      <li>イントネーションの詳細な調整が可能</li>
      <li>喋り声で歌えるハミング機能搭載</li>
    </ul>
  </div>
  <p class="mt-md text-xs">
    ※1 詳しくは各キャラクターの利用規約をご参照ください
  </p>
  <p class="text-xs">※2 Windows / Mac / Linux に対応</p>
  <Button
    {...{ [showDownloadModalAttr]: "" }}
    kind="solid"
    tone="primary"
    shape="pill"
    size="xl"
    class="mt-lg self-center"
  >
    <span slot="icon">
      <FontAwesomeIcon icon={faDownload} />
    </span>
    ダウンロード
  </Button>
  <p class="mt-xs self-center text-base">Version {APP_VERSION}</p>
</div>
