---
import {
  StyleDropdownClosed,
  StyleDropdownOpened,
} from "./_StyleDropdownDemo.tsx";
import Showcase from "../_Showcase.astro";
---

<Showcase title="StyleDropdown">
  <div class="p-md gap-xl flex flex-col">
    <StyleDropdownClosed
      client:load
      styles={["ノーマル", "あまあま", "ツンツン", "セクシー"]}
    />
    <StyleDropdownOpened
      client:load
      styles={["ノーマル", "あまあま", "ツンツン", "セクシー"]}
    />
  </div>
</Showcase>
