---
import { characterInfos } from "@/constants/characterInfo";
import CharacterCard from "@/pages/talk/_CharacterCard.astro";
import "@/styles/global.css";

const characterInfo1 = characterInfos["ずんだもん"];
const characterInfo2 = characterInfos["四国めたん"];
const characterInfo3 = characterInfos["春日部つむぎ"];
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <title>CharacterCard (talk) 確認用ページ</title>
  </head>
  <body>
    <div class="p-2xl">
      <h1 class="mb-xl text-2xl font-bold">
        CharacterCard (talk) 確認用ページ
      </h1>

      <section class="mb-2xl">
        <h2 class="mb-md text-xl font-semibold">キャラクター一覧（抜粋）</h2>
        <div class="mx-auto flex max-w-5xl flex-col">
          <div class="-m-sm flex flex-wrap justify-center">
            <CharacterCard characterInfo={characterInfo1} />
            <CharacterCard characterInfo={characterInfo2} />
            <CharacterCard characterInfo={characterInfo3} />
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
