---
import { showPrivacyPolicyModalAttr } from "@/store";
import { faGithub, faXTwitter } from "@fortawesome/free-brands-svg-icons";
import FontAwesomeIcon from "./FontAwesomeIcon.astro";

interface Props {
  isDark?: boolean;
}

// TODO: 不要になっているのでTailwind化後に消す
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const { isDark: _isDark } = Astro.props;
---

<div class="flex justify-center">
  <a
    class="inline-flex items-center gap-1 border rounded px-2.5 py-1 text-xs mx-1 border-gray-400 dark:border-gray-600 bg-white dark:bg-neutral-800 text-black dark:text-white hover:bg-neutral-50 dark:hover:bg-neutral-700"
    href="https://github.com/VOICEVOX/voicevox"
    target="_blank"
    rel="noreferrer"
  >
    <FontAwesomeIcon icon={faGithub} />
    <span>GitHub</span>
  </a>
  <a
    class="inline-flex items-center gap-1 border rounded px-2.5 py-1 text-xs mx-1 border-gray-400 dark:border-gray-600 bg-white dark:bg-neutral-800 text-black dark:text-white hover:bg-neutral-50 dark:hover:bg-neutral-700"
    href="https://x.com/voicevox_pj"
    target="_blank"
    rel="noreferrer"
  >
    <FontAwesomeIcon icon={faXTwitter} />
    <span>Official SNS</span>
  </a>
</div>
<div class="flex justify-center mt-2">
  <button
    {...{ [showPrivacyPolicyModalAttr]: "" }}
    class="text-xs mx-1 dark:text-primary"
  >
    プライバシーポリシー
  </button>
  <p class="text-xs mx-1 dark:text-neutral-100">© Hiroshiba Kazuyuki</p>
</div>
