---
import { showPrivacyPolicyModalAttr } from "@/store";
import { faGithub, faXTwitter } from "@fortawesome/free-brands-svg-icons";
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
---

<div class="flex justify-center">
  <a
    class="mx-1 inline-flex items-center gap-1 rounded border border-gray-400 bg-white px-2.5 py-1 text-xs text-black hover:bg-neutral-50 dark:border-gray-600 dark:bg-neutral-800 dark:text-white dark:hover:bg-neutral-700"
    href="https://github.com/VOICEVOX/voicevox"
    target="_blank"
    rel="noreferrer"
  >
    <FontAwesomeIcon icon={faGithub} />
    <span>GitHub</span>
  </a>
  <a
    class="mx-1 inline-flex items-center gap-1 rounded border border-gray-400 bg-white px-2.5 py-1 text-xs text-black hover:bg-neutral-50 dark:border-gray-600 dark:bg-neutral-800 dark:text-white dark:hover:bg-neutral-700"
    href="https://x.com/voicevox_pj"
    target="_blank"
    rel="noreferrer"
  >
    <FontAwesomeIcon icon={faXTwitter} />
    <span>Official SNS</span>
  </a>
</div>
<div class="mt-2 flex justify-center">
  <button
    {...{ [showPrivacyPolicyModalAttr]: "" }}
    class="dark:text-primary mx-1 text-xs"
  >
    プライバシーポリシー
  </button>
  <p class="mx-1 text-xs dark:text-neutral-100">© Hiroshiba Kazuyuki</p>
</div>
