---
import Button from "@/components/ui/Button/index.astro";
import { showPrivacyPolicyModalAttr } from "@/store";
import { faGithub, faXTwitter } from "@fortawesome/free-brands-svg-icons";
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
---

<div class="flex justify-center">
  <Button
    href="https://github.com/VOICEVOX/voicevox"
    target="_blank"
    rel="noreferrer"
    kind="outline"
    tone="neutral"
    shape="rounded"
    size="sm"
    class="mx-2xs"
  >
    <span slot="icon">
      <FontAwesomeIcon icon={faGithub} />
    </span>
    GitHub
  </Button>
  <Button
    href="https://x.com/voicevox_pj"
    target="_blank"
    rel="noreferrer"
    kind="outline"
    tone="neutral"
    shape="rounded"
    size="sm"
    class="mx-2xs"
  >
    <span slot="icon">
      <FontAwesomeIcon icon={faXTwitter} />
    </span>
    Official SNS
  </Button>
</div>
<div class="mt-xs flex justify-center">
  <button
    {...{ [showPrivacyPolicyModalAttr]: "" }}
    class="dark:text-primary mx-2xs text-xs"
  >
    プライバシーポリシー
  </button>
  <p class="mx-2xs text-xs dark:text-neutral-100">© Hiroshiba Kazuyuki</p>
</div>
