---
interface Props {
  defaultHide?: boolean; // アクセスした直後にヘッダーを隠すか
  isDark?: boolean;
  isNemo?: boolean;
  // isBurgerActive: boolean;
}

import { getImage } from "astro:assets";

import { faDownload } from "@fortawesome/free-solid-svg-icons";

import iconImage from "@assets/icon.png";
import FontAwesomeIcon from "./FontAwesomeIcon.astro";

const iconUrl = (await getImage({ src: iconImage, width: 64 })).src;

const { defaultHide, isDark, isNemo } = Astro.props;

// TODO: ちゃんと設定可能にする
const isBurgerActive = false;
---

<nav
  data-voicevox-header
  class={`navbar is-fixed-top has-shadow ${defaultHide ? "is-hidden" : ""} ${isDark ? "is-black" : ""}`}
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <img src={iconUrl} alt="VOICEVOXのロゴ" />
      <span class="has-text-weight-bold is-size-5"> VOICEVOX </span>
    </a>

    <a
      role="button"
      class={`navbar-burger ${isBurgerActive ? "is-active" : ""}`}
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar"
    >
      {/* TODO: onClick={() => setIsBurgerActive(!isBurgerActive)} */}
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class={`navbar-menu ${isBurgerActive ? "is-active" : ""}`}>
    <div class="navbar-end">
      <a href="/" class="navbar-item"> トーク </a>
      <a href="/song/" class="navbar-item"> ソング </a>
      <a href="/term/" class="navbar-item"> 利用規約 </a>
      <a href="/how_to_use/" class="navbar-item"> 使い方 </a>
      <a href="/qa/" class="navbar-item"> Q&amp;A </a>
      <a href="/dormitory/" class="navbar-item"> ボイボ寮 </a>
      <a href="/nemo/" class="navbar-item"> Nemo </a>
      <a href="/update_history/" class="navbar-item"> 変更履歴 </a>
      {
        /* TODO: リリース時にコメントアウトを外す
        <a href={"/news/"} class="navbar-item">
          ニュース
        </a>
        */
      }
      <a
        href="https://hiho.fanbox.cc/"
        target="_blank"
        rel="noreferrer"
        class="navbar-item"
      >
        pixivFANBOX
      </a>
      <div class="navbar-item py-0">
        <a
          data-header-download-shower
          data-is-nemo={isNemo}
          class="button is-primary is-rounded"
          tab-index={0}
          role="button"
        >
          <span class="icon">
            <FontAwesomeIcon icon={faDownload} />
          </span>
          <span class="has-text-weight-semibold">ダウンロード</span>
        </a>
      </div>
    </div>
  </div>
</nav>

{/* 空間を空けるために必要 */}
<div
  data-voicevox-header-holder
  class={`navbar height-holder ${defaultHide ? "is-hidden" : ""}`}
>
</div>

<script is:inline define:vars={{ defaultHide }}>
  window.__voicevoxDefaultHide = defaultHide;
</script>

<script>
  declare global {
    interface Window {
      __voicevoxDefaultHide: boolean;
    }
  }

  import {
    $downloadModal,
    $nemoGuidanceModal,
    $showingHeader,
    hideHeaderAttr,
  } from "@/store";

  document.addEventListener("astro:page-load", () => {
    document
      .querySelectorAll("[data-header-download-shower]")
      .forEach((elem) => {
        elem.addEventListener("click", () => {
          const isNemo = elem.hasAttribute("data-is-nemo");
          if (!isNemo) {
            $downloadModal.set(true);
            // TODO: context.sendEvent("download", "software");
          } else {
            $nemoGuidanceModal.set(true);
            // TODO: context.sendEvent("download", "nemo");
          }
        });
      });

    const header = document.querySelector("[data-voicevox-header]");
    const headerHolder = document.querySelector(
      "[data-voicevox-header-holder]",
    );

    $showingHeader.set(!window.__voicevoxDefaultHide);

    // ヘッダーの表示状態に応じてCSSを切り替える
    $showingHeader.subscribe((showingHeader) => {
      if (!header || !headerHolder)
        throw new Error("header or headerHolder is not found");

      if (showingHeader) {
        header.classList.remove("is-hidden");
        headerHolder.classList.remove("is-hidden");
      } else {
        header.classList.add("is-hidden");
        headerHolder.classList.add("is-hidden");
      }
    });

    // ヘッダーを隠すための属性を持つ要素が表示されている間はヘッダーを隠す
    document.querySelectorAll(`[${hideHeaderAttr}]`).forEach((elem) => {
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          $showingHeader.set(!entry.isIntersecting);
        });
      });
      observer.observe(elem);
    });
  });
</script>
