@import "~bulma/sass/utilities/initial-variables";

$primary: #a5d4adff;

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap");
$family-sans-serif: "M PLUS Rounded 1c", sans-serif;

@import "~bulma";

.landing {
  .first-view {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .not-header {
      flex-grow: 1;
    }
  }
}

.circle-icon {
  @extend .is-outlined;
  @extend .is-rounded;

  padding-left: 0 !important;
  padding-right: 0 !important;

  width: $size-1;
  height: $size-1;
  border-width: 1.8px;

  &.is-small {
    width: $size-2;
    height: $size-2;
    border-width: 1px;
  }
  &.is-medium {
    width: $size-1 * 1.2;
    height: $size-1 * 1.2;
    border-width: 2px;
  }
  &.is-large {
    width: $size-1 * 1.4;
    height: $size-1 * 1.4;
    border-width: 2.4px;
  }
}
