@import "~bulma/sass/utilities/initial-variables";
@import "./fonts.scss";

$primary: #a5d4adff;
$text: black;

$navbar-breakpoint: $tablet;

$family-sans-serif: "Unhinted Rounded M+ 1p", sans-serif;

$font-smoothing: subpixel-antialiased;
$text-rendering: optimizeLegibility;
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  $font-smoothing: antialiased;
}

//もしページの内容が画面高さより小さくても、body要素は最低でも画面高さを持つようにします。
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

//footerを最下部に固定します。
body {
  position: relative;
  .footer {
    &.appearance {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    &.height-holder {
      visibility: hidden;
    }
  }
}

$dropdown-item-active-color: hsl(0, 0%, 4%);
$dropdown-item-active-background-color: $primary;

@import "~bulma";

// プライマリーカラーのテキストが明るすぎるので少し暗くする
.has-text-primary {
  color: #468155 !important;
}

.landing {
  .first-view {
    @include desktop {
      height: 100vh;
    }

    display: flex;
    flex-direction: column;
    .not-header {
      flex-grow: 1;
    }
  }

  video {
    border: 1.5px solid;
  }

  .top-title {
    height: $size-1 * 2.2;
    fill: #000000b3;
    position: relative;
    width: 100%;

    & > svg {
      position: absolute;
      top: 0;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    @include until($desktop) {
      height: $size-1 * 1.7;
    }

    @include until($tablet) {
      height: $size-1 * 1.1;
    }
  }
}

.audio-sample {
  .audio-sample-pair {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px 10px;

    @extend .py-1;

    .audio-sample-label {
      width: 100px;
      // @include from($tablet) {
      //   text-align: right !important;
      // }
    }
    .audio-sample-content {
      display: flex;
      gap: 3px;
    }
  }
}

.circle-icon {
  @extend .is-outlined;
  @extend .is-rounded;

  padding-left: 0 !important;
  padding-right: 0 !important;

  width: $size-1;
  height: $size-1;
  border-width: 1.8px;

  &.is-small {
    width: $size-2;
    height: $size-2;
    border-width: 1px;
  }
  &.is-medium {
    width: $size-1 * 1.2;
    height: $size-1 * 1.2;
    border-width: 2px;
  }
  &.is-large {
    width: $size-1 * 1.4;
    height: $size-1 * 1.4;
    border-width: 2.4px;
  }
}

.border-icon {
  border-style: solid;
  border-radius: 0.5rem;
}

:root {
  --character-background-color: transparent;
}
.product {
  main {
    h1 {
      @extend .title;
      @extend .is-3;
    }

    .main-character-pane {
      position: relative;
    }

    .main-character-pane::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50vw;
      height: 100%;
      background-color: var(--character-background-color);
      z-index: -1;
    }
  }

  .product-feature {
    .product-feature-separator {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      // 横線
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        border-top: 5px solid;
        border-color: $primary;
        z-index: -1;
      }

      .product-feature-separator-text {
        background-color: white;
      }
    }
  }
}

.markdown {
  @extend .content;

  h2 {
    @extend .title;
    @extend .is-4;
    @extend .mb-3;
  }

  h3 {
    @extend .title;
    @extend .is-5;
    @extend .mb-3;
  }

  h4 {
    @extend .title;
    @extend .is-6;
    @extend .mb-3;
  }

  img {
    @extend .mb-3;
    vertical-align: middle;
    border: 1px solid #333;
  }
}

.update-history {
  @extend .content;
}

.qa {
  h2 {
    @extend .p-4;
    background-color: $primary;
    color: #3f213a;
  }

  h3 {
    @extend .p-2;
    background-color: rgb(208, 253, 216);
  }
}

.modal-download {
  @include tablet {
    .modal-card {
      width: 670px;
    }
  }
}

.modal-how-to-use {
  @include tablet {
    .modal-card {
      width: 770px;
    }
  }
}

.dormitory {
  background-image: url(../images/nc238325.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-size: cover;
  background-attachment: fixed;

  .hero {
    background-color: $primary;
  }

  .section {
    .container {
      max-width: $desktop;
      background-color: white;

      &.character-container {
        .generation-label {
          @extend .has-text-centered;
          display: flex;
          align-items: center;
          justify-content: end;

          @include mobile {
            justify-content: center;
          }
        }

        .card {
          box-shadow: none;
          border-style: solid;
          border-radius: 1rem;
          border-width: 3px;
        }

        .character-card {
          cursor: pointer;

          .card-image {
            display: block !important;
          }

          .card-content {
            @extend .px-0;
            @extend .has-text-centered;
          }
        }

        .coming-card {
          display: flex;
          align-items: center;
          justify-content: center;

          .card-content {
            @extend .px-0;
            @extend .has-text-centered;
          }
        }

        .tohoku {
          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > a > div {
              max-width: 300px;
              border-style: solid;
            }
          }
        }
      }

      &.top-illust-container {
        .card {
          cursor: pointer;
          box-shadow: none;

          & > div {
            border-style: solid;
            border-radius: 1rem;
            border-width: 1px;
            border-color: #000;
          }
        }
      }
    }
  }
}

.modal-character {
  .modal-background {
    background-image: url(../images/nc238325.jpg);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    background-size: cover;
    background-attachment: fixed;
  }

  .modal-content {
    max-width: 820px;
    max-height: none;

    @include tablet {
      min-width: 770px;
    }

    .box {
      height: 550px;
      @include mobile {
        height: auto;
      }

      padding: 0;
      margin-bottom: 0;

      border-style: solid;
      border-width: 3px;

      .portrait-column {
        @extend .py-1;
        @extend .px-0;

        @include tablet {
          border-right: solid;
        }

        img {
          object-fit: cover !important;
          @include mobile {
            object-fit: contain !important;
          }
        }
      }
    }
  }

  .description-column {
    .section {
      height: 100%;
      @extend .p-3;

      display: flex;
      flex-direction: column;
    }

    .description-top {
      display: flex;

      .description-top-button {
        @extend .circle-icon;
        @extend .ml-auto;
      }
    }

    .description-type-button {
      box-shadow: none;
      border-width: 1.5px;

      &.description-type-button-selected {
        @extend .has-text-weight-bold;
      }
    }

    .description-profile {
      @extend .is-size-5;
      @extend .has-text-weight-bold;
      @extend .mb-4;
    }

    .description-box {
      @extend .pb-0;
      @extend .pt-3;

      display: flex;
      align-items: center;

      .description-label {
        @extend .py-2;
        width: 7rem;
        border-radius: 10px;
        color: white;
        text-align: center;
      }
      .description-text {
        flex-grow: 1;
        @extend .pl-3;
      }
      .description-samples {
        flex-grow: 1;
        @extend .pl-3;
      }
    }

    .description-info-images {
      display: flex;
    }

    .description-call {
      flex-grow: 1;
      overflow: hidden;

      .description-call-other-column {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        @include mobile {
          flex-direction: row;
          height: 8rem;
        }

        .description-call-other-cell {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          border-style: solid;
          border-radius: 14px;
          aspect-ratio: 1/1;
          white-space: nowrap;

          div {
            text-align: center;
          }

          div:first-child {
            @extend .has-text-weight-bold;
            @extend .mb-1;
          }
        }
      }

      .description-call-character {
        overflow: auto;

        .description-call-box {
          height: 65px;
          .description-call-line {
            display: flex;
            .description-call-one {
              @extend .p-0;

              flex: 1;

              display: flex;
              justify-content: center;
              align-items: center;
              .description-call-arrow {
                margin: -1rem 0;
                font-size: 1.5rem;
              }
              .description-call-text {
                @extend .py-1;
                font-size: 0.8rem;
                flex-grow: 1;
                border-style: solid;
                border-radius: 8px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .modal-close {
    &::before,
    &::after {
      background-color: black;
    }
  }
}

.modal-top-illust {
  cursor: pointer;

  .modal-background {
    background-image: url(../images/nc238325.jpg);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    background-size: cover;
    background-attachment: fixed;
  }

  .modal-content {
    width: 100%;
    height: 100%;
  }
}

.page-404 {
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5f5f5;
  ::selection {
    color: white;
    background-color: #9a9a9a;
  }
  :any-link {
    color: black;
  }
}

// 画像にデフォルトで入るアニメーションを削除する
.gatsby-image-wrapper [data-main-image] {
  transition: unset !important;
}
.gatsby-image-wrapper > * {
  transition: unset !important;
}

//ヘッダーをゆっくり表示する
.navbar {
  animation: fadeIn 0.1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
