---
import { dormitoryEvents } from "@/constants/dormitoryEvent";
import { Image } from "astro:assets";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div
  class="py-3xl mx-auto flex max-w-5xl flex-col items-center bg-white text-center"
>
  <h2
    id={id}
    class="vv-anchor-offset-4 mb-xl text-2xl leading-7 font-extrabold text-neutral-700"
  >
    <a href={`#${id}`} class="text-black"> 過去のイベント </a>
  </h2>
  <div class="gap-md px-md grid w-full grid-cols-1 md:grid-cols-3">
    {
      // 過去のイベント
      dormitoryEvents.map((event) => (
        <div>
          <a
            href={`${event.link}`}
            class="text-black"
            target="_blank"
            rel="noreferrer"
          >
            <Image
              src={event.image}
              alt=""
              width={480}
              densities={[1, 1.5, 2]}
              class="block w-full cursor-pointer rounded-2xl border border-black object-contain shadow-none"
            />
            <p
              class="mt-xs leading-xl text-base text-neutral-950"
              set:html={event.titles.join("<br />")}
            />
          </a>
        </div>
      ))
    }
  </div>
</div>
