---
import { dormitoryTopIllustInfos } from "@/constants/dormitoryTopIllustInfo";
import { Image } from "astro:assets";

const { image } = dormitoryTopIllustInfos[dormitoryTopIllustInfos.length - 1];
---

<div class="container is-max-desktop">
  <Image
    src={image}
    alt="トップイラスト"
    width={1024}
    densities={[1, 1.5]}
    style={{ objectFit: "contain", display: "block" }}
  />
</div>
