---
import { dormitoryTopIllustInfos } from "@/constants/dormitoryTopIllustInfo";
import { Image } from "astro:assets";

const { image } = dormitoryTopIllustInfos[dormitoryTopIllustInfos.length - 1];
---

<div class="container is-max-desktop">
  <Image src={image} alt="トップイラスト" style="object-fit: contain" />
</div>
