---
import { Image } from "astro:assets";

import { topIllustImages } from "./topIllust";

const topIllustImage = topIllustImages[topIllustImages.length - 1];
---

<div class="container is-max-desktop">
  <Image
    src={topIllustImage}
    alt="トップイラスト"
    style="object-fit: contain"
  />
</div>
