---
import OssGuidanceSection from "@/pages/_OssGuidanceSection.astro";
import Showcase from "../_Showcase.astro";
---

<Showcase title="OssGuidanceSection">
  <OssGuidanceSection />
  {/* NOTE: `/song` に合わせて isDark の本文色は親側で白にしています。 */}
  <div data-theme="dark" class="bg-black text-white">
    <OssGuidanceSection />
  </div>
</Showcase>
