---
import { characterKeys } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import CharacterCard from "@/pages/song/_CharacterCard";
import "@/styles/global.css";
import { Image } from "astro:assets";

const songCharacterKeys = characterKeys.filter(
  (key) => characterInfos[key].songVoiceAudios.length > 0,
);
const previewCharacterKeys = songCharacterKeys.slice(0, 3);
---

<html lang="ja" class="min-h-screen bg-black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <title>CharacterCard (song) 確認用ページ</title>
  </head>
  <body class="bg-black text-white">
    <div class="p-2xl">
      <h1 class="mb-xl text-2xl font-bold">
        CharacterCard (song) 確認用ページ
      </h1>

      <section class="mb-2xl">
        <h2 class="mb-md text-xl font-semibold">キャラクターカード（抜粋）</h2>
        <div class="p-md">
          <div
            class="gap-md flex flex-row flex-wrap items-center justify-center"
          >
            {
              previewCharacterKeys.map((characterKey) => (
                <CharacterCard
                  client:load
                  characterInfo={characterInfos[characterKey]}
                >
                  <Image
                    src={characterInfos[characterKey].bustupImage}
                    alt={characterInfos[characterKey].name}
                    width={256}
                    class="block"
                  />
                </CharacterCard>
              ))
            }
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
