---
/**
 * markdownをレンダリングするためのレイアウト。
 */

import Markdown from "@/components/Markdown.astro";
import Base, { type Props as BaseProps } from "./Base.astro";

export interface Props {
  frontmatter: BaseProps & {
    headerTitle?: string; // ページの一番上に表示するタイトル。指定しない場合は表示されない。
  };
  children: unknown;
}

const { frontmatter } = Astro.props;
---

<Base {...frontmatter}>
  <main class="py-3xl">
    <div class="px-md mx-auto max-w-5xl">
      {
        frontmatter.headerTitle && (
          <h1 class="mb-xl text-3xl leading-9 font-extrabold text-neutral-700">
            {frontmatter.headerTitle}
          </h1>
        )
      }
      <Markdown><slot /></Markdown>
    </div>
  </main>
</Base>
