---
/**
 * トップイラストの画像をモーダルで大きく表示する
 */
import { dormitoryTopIllustInfos } from "@/constants/dormitoryTopIllustInfo";
import Base from "@/layouts/Base.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getImage, Image } from "astro:assets";

export const getStaticPaths = (async () => {
  return dormitoryTopIllustInfos.map((_, index) => ({
    params: { topIllustIndex: String(index + 1) },
  }));
}) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { topIllustIndex } = Astro.params;

const index = parseInt(topIllustIndex) - 1;
const { image, illustrator } = dormitoryTopIllustInfos[index];

const shareThumb = (await getImage({ src: image, width: 1200 })).src;
---

<Base
  title={`トップイラスト ${index + 1} | ボイボ寮 | VOICEVOX`}
  description={`以前のトップイラストをご覧いただけます。イラスト：${illustrator}`}
  image={shareThumb}
  imageAlt=""
>
  <main class="py-3xl">
    <div class="px-md mx-auto max-w-7xl">
      <h1 class="mb-xl text-3xl font-extrabold text-neutral-700">
        トップイラスト {index + 1}
      </h1>
      <div>
        <div>
          <Image
            src={image}
            class="block h-full w-full object-contain"
            alt={`トップイラスト${index + 1}の大きな画像`}
          />
        </div>
      </div>
      <p class="mt-md text-right text-black">イラスト：{illustrator}</p>
    </div>
  </main>
</Base>
