---
/**
 * トップイラストの画像をモーダルで大きく表示する
 */
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";

import { dormitoryTopIllustInfos } from "@constants/dormitoryTopIllustInfo";

export const getStaticPaths = (async () => {
  return dormitoryTopIllustInfos.map((_, index) => ({
    params: { topIllustIndex: String(index + 1) },
  }));
}) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

import { getImage, Image } from "astro:assets";

import Base from "@layouts/Base.astro";

const { topIllustIndex } = Astro.params;

const index = parseInt(topIllustIndex) - 1;
const { image, illustrator } = dormitoryTopIllustInfos[index];

const shareThumb = (await getImage({ src: image, width: 1200 })).src;
---

<Base
  title={`トップイラスト ${index + 1} | ボイボ寮 | VOICEVOX`}
  description={`以前のトップイラストをご覧いただけます。イラスト：${illustrator}`}
  image={shareThumb}
  imageAlt=""
>
  <main>
    <section class="section">
      <div class="container">
        <h1 class="title is-3">トップイラスト {index + 1}</h1>
        <div>
          <Image
            src={image}
            style={{
              width: "100%",
              height: "100%",
              display: "block",
              objectFit: "contain",
            }}
            alt={`トップイラスト${index + 1}の大きな画像`}
          />
        </div>
        <p class="has-text-right mt-4">イラスト：{illustrator}</p>
      </div>
    </section>
  </main>
</Base>
